<header>
    <div class="left">
        <span class="logo">
            <img src="../../../assets/images/KG-sellers-hub-logo.png" width="100" alt="Logo" />
        </span>
    </div>

    <div class="right">
        <a [routerLink]="['/']" class="gotham-book">Kaiglo Express</a>
        <a [routerLink]="['/']" class="gotham-book">Learning Center</a>
        <span class="gotham-book btnn">Register</span>
    </div>
    <div class="right-mobile">
        <i class="fa fa-bars"></i>
    </div>
</header>
<main>
    <div class="banner">
        <div>
            <span>
                Join the No.1<br>
                Ecommerce<br>
                Platform in Nigeria
            </span>
            <span class="smaller">
                Start making money now, it's easy and free
            </span>
            <button>Become a seller</button>
        </div>
        
    </div>
    <div class="banner2">
        <div class="bglayer">
            <div class="innerbanner2">
                <p>How it works</p>
                <p>Become a member on the SellersHub platform by creating an account either using your social media account or email account. Proceed to create store and begin upload of store details, then await your dashboard where items can be uploaded and all inventory managed.</p>
                <div class="boxes">
                    <div class="box">
                        <img src="../../../assets/images/become_member.png" width="100" alt="" />
                        <p class="first">Become a member</p>
                        <p class="last">Sign up to sell on SellersHub and reach millions of potential customers.</p>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/verify_acc.png" width="100" alt="" />
                        <p class="first">Upload product</p>
                        <p class="last">Click on the verification link sent to you to confirm your registration</p>
                    </div>
                    <div class="box">
                        <img src="../../../assets/images/start-selling.png" width="100" alt="" />
                        <p class="first">Start selling</p>
                        <p class="last">Upload your products and start selling!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="banner3">
        <div class="innerbanner3">
            <p>Why choose SellersHub</p>
            <p>SellersHub provides the right platform for sellers to promote their brand and store online, allowing them to have personalized interaction with potential buyers.</p>
            <div class="boxes">
                <div class="left-items">
                    <div class="item">
                        <span>
                            <p>Brand recognition</p>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                        </span>
                        <span>
                            <img src="../../../assets/images/brand-rec.png" width="60" alt="">
                        </span>

                    </div>
                    <div class="item">
                        <span>
                            <p>Brand recognition</p>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                        </span>
                        <span>
                            <img src="../../../assets/images/brand-rec.png" width="60" alt="">
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <p>Brand recognition</p>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                        </span>
                        <span>
                            <img src="../../../assets/images/brand-rec.png" width="60" alt="">
                        </span>
                    </div>
                </div>
                <div class="phone">
                    <img src="../../../assets/images/mobile-home.png" width="70%" alt="" />
                </div>
                <div class="right-items">
                    <div class="item">
                        <span>
                            <img src="../../../assets/images/brand-rec.png" width="60" alt="">
                        </span>
                        <span>
                            <p>Brand recognition</p>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <img src="../../../assets/images/brand-rec.png" width="60" alt="">
                        </span>
                        <span>
                            <p>Brand recognition</p>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            <img src="../../../assets/images/brand-rec.png" width="60" alt="">
                        </span>
                        <span>
                            <p>Brand recognition</p>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                        </span>
                    </div>
                </div>    
                
            </div>
        </div>
    </div>
    <div class="banner4">
        <div class="innerbanner4">
            <p>Successful Stories</p>
            <div class="box">
                <div class="left">
                    <span>&nbsp;</span>
                    <img src="../../../assets/images/seller-obinnapro.png"  alt="">
                </div>
                <div class="right">
                    <div class="tag">Store Owner</div>
                    <div class="story">
                        <p>My Story</p>
                        <p>Ever since I joined kaiglo, I have experienced improved sales due to their market insight data.</p>
                    </div>
                    <div class="author">
                        <p>ObinnaBoss</p>
                        <p>CEO (ObinnaBoss Fashion)</p>
                        <div class="dots">
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span class="active">&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="rightfar">
                    <img src="../../../assets/images/bxs-right-arrow-circle.png" alt="">
                </div>
            </div>
        </div>
        
    </div>

    <footer>
        <div class="first">
            <div class="section1">
                <h2>Company Information</h2>
                <span>
                    <p>Contact Us</p>
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                    <p>About Us</p>
                </span>
            </div>
            <div class="section2">
                <h2>Customer Service</h2>
                <span>
                    <p>Shipping and Delivery</p>
                    <p>SellersHub Express</p>
                    <p>Return Policy</p>
                   
                </span>
            </div>
            <div class="section3">
                <h2>Kaiglo Social</h2>
                <span class="icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-telegram"></i>
                </span>
                <span class="icons">
                    <i class="fa fa-messenger"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-pinterest"></i>
                    
                </span>
                    
            </div>
            <div class="section4">
                <h2>Make money with us</h2>
                <span>
                    <p>Sell on SellersHub</p>
                    <p>Become an Affiliate Partner</p>
                </span>
            </div>
            <div class="section5">
                <h2>Download our Mobile App!</h2>
                <span class="imagetags">
                    <img src="../../../assets/images/google@.png" alt="">&nbsp;&nbsp;
                    <img src="../../../assets/images/apple@.png" alt="">
                </span>
            </div>
        </div>
        <div class="last">
            <p>Copyright © 2020 SellersHub STORES LIMITED. All Rights Reserved. User Agreement, <a [routerLink]="['/']" >Privacy and Cookies</a></p>
        </div>
    </footer>
</main>