/* Mobile*/
@media only screen and (min-width: 320px) and (max-width: 757px) {
    // *{
    //     border:solid 1px black;
    // }
  header {
    width: 100%;
    height: 70px;
    background: #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    .left {
      flex: 1;
      text-align: left;
      margin-left: 5%;
    }
    .right-mobile {
      display: block;
      margin-right: 5%;
    }
    .right {
      display: none;
      flex: 1;

      a {
        font-size: 14px;
        color: #151716;
        margin-right: 5%;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }

      .btnn {
        font-size: 15px;
        font-weight: bold;
        color: #151716;
        border: 1px solid #151716;
        border-radius: 15px;
        text-transform: uppercase;
        padding: 5px 10px;
        transition: background 200ms ease-in-out;

        &:hover {
          background: #151716;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  main {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: column;

    .banner {
      background: url(../../../assets/images/hero-image.png) no-repeat center bottom;
      background-size: cover;
      height: 400px;
      z-index: 1000;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        margin-top: 20%;

        span {
          &:first-child {
            font-family: "Gotham Black";
            color: white;
            font-size: 32px;
            margin-bottom: 1%;
          }
          &:nth-child(2) {
            font-family: "Gotham Book";
            color: white;
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 2.5%;
          }
        }
        button {
          background: #02796f;
          color: white;
          text-transform: uppercase;
          text-align: center;
          border: none;
          border-radius: 15px;
          padding: 13px 5px;
          width: 40%;
          font-family: "Gotham Book";
          font-weight: bold;
        }
      }
    }
    .banner2 {
      clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
      height: 1270px;
      background: #f8f8f8;
      margin-top: -22px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 100;

      .bglayer {
        width: 100%;
        background: url("../../../assets/images/circle-artifacts.png") 30px
            60px no-repeat padding-box,
          url("../../../assets/images/ring-artifacts.png") 60px 300px no-repeat
            padding-box,
          url("../../../assets/images/swirle-libe.png") 1100px 300px no-repeat
            padding-box,
          url("../../../assets/images/Polygon\ 1.png") 560px 810px no-repeat
            padding-box;

        background-size: 30px 30px, 120px 120px, 300px 530px, 70px 70px;

        padding-top: 10%;
        height: 100vh;

        div.innerbanner2 {
          margin: auto;
          text-align: center;
          display: flex;
          flex-direction: column;

          p {
            &:first-child {
              font-family: "Gotham Black";
              font-size: 30px;
            }
            &:nth-child(2) {
              font-family: "Gotham Book";
              font-size: 13px;
              width: 80%;
              text-align: center;
              margin: auto;
              line-height: 1.5;
            }
          }

          .boxes {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 80%;
            margin: 23% auto 0 auto;

            .box {
              width: 100%;
              height: 230px;
              background: #fff;
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 3% 2%;
              margin-bottom: 5%;

              .first {
                font-family: "Gotham Bold";
                font-size: 20px;
                width: 100%;
                margin-top: 18px;
                margin-bottom: 5px;
              }
              .last {
                font-family: "Gotham Book";
                font-size: 13px;
                color: #727272;
              }
            }
          }
        }
      }
    }
    .banner3 {
      clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
      height: 2053px;
      background: #ffffff;
      margin-top: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 10;

      div.innerbanner3 {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
          &:first-child {
            font-family: "Gotham Black";
            font-size: 30px;
          }
          &:nth-child(2) {
            font-family: "Gotham Book";
            font-size: 13px;
            width: 80%;
            text-align: center;
            margin: auto;
            line-height: 1.5;
          }
        }

        .boxes {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 80%;
          margin: 3% auto 0 auto;

          .left-items {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;
            align-items: center;

            .item {
              background: #f8f8f8;
              margin-bottom: 5px;
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              padding: 0 5%;
              width: 100%;

              span {
                &:first-child {
                  flex: 1;
                  padding-bottom: 5%;

                  p {
                    width: 100%;
                    text-align: right;

                    &:first-child {
                      font-family: "Gotham Medium";
                      font-size: 15px;
                    }
                    &:nth-child(2) {
                      font-family: "Gotham Book";
                      font-size: 12px;
                      color: #727272;
                    }
                  }
                }
                &:last-child {
                  padding: 5px;
                  background: #02796f;
                  border-radius: 50%;
                  width: 35px;
                  height: 35px;
                  display: flex;
                  align-items: center;
                  margin-top: 5%;
                  margin-left: 5%;
                }
              }
            }
          }
          .phone {
            width: 80%;
            img{
                width: 100%;
            }
          }
          .right-items {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;
            align-items: center;

            .item {
              background: #f8f8f8;
              margin-bottom: 5px;
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              padding: 0 5%;
              width: 100%;

              span {
                &:last-child {
                  flex: 1;
                  padding-bottom: 5%;

                  p {
                    width: 100%;
                    text-align: left;

                    &:first-child {
                      font-family: "Gotham Medium";
                      font-size: 15px;
                    }
                    &:nth-child(2) {
                      font-family: "Gotham Book";
                      font-size: 12px;
                      color: #727272;
                    }
                  }
                }
                &:first-child {
                  padding: 5px;
                  background: #02796f;
                  border-radius: 50%;
                  width: 35px;
                  height: 35px;
                  display: flex;
                  align-items: center;
                  margin-top: 5%;
                  margin-right: 5%;
                }
              }
            }
          }
        }
      }
    }
    .banner4 {
      height: 730px;
      background: #f8f8f8;
      margin-top: -18%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .innerbanner4 {
        width: 100%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
          &:first-child {
            font-family: "Gotham Black";
            font-size: 30px;
          }
        }

        .box {
          width: 80%;
          margin: auto;
          background: #fff;
          // border: 1px solid black;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            span {
              height: 100%;
              background: #171717;
              width: 60%;
            }
            img {
              height: 80%;
              width: 100%;
              margin-left: -30%;
            }
          }
          .right {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 6%;

            .tag {
              width: 45%;
              font-size: 12px;
              background: #02796f;
              border-radius: 2px;
              font-family: "Gotham Book Italic";
              color: #fff;
              padding: 10px 1px;
              margin-top: 2%;
            }
            .story {
              width: 100%;
              text-align: left;
              p {
                &:first-child {
                  font-family: "Gotham Bold";
                  font-size: 22px;
                }
                &:nth-child(2) {
                  margin-top: -15px;
                  font-family: "Gotham Light";
                  font-size: 12px;
                  color: #161616;
                }
              }
            }
            .author {
              margin-top: -5%;
              width: 100%;
              text-align: left;
              p {
                &:first-child {
                  font-family: "Gotham Bold";
                  font-size: 20px;
                }
                &:nth-child(2) {
                  margin-top: -15px;
                  font-family: "Gotham Medium";
                  font-size: 12px;
                  font-style: oblique;
                  color: #02796f;
                }
              }
              .dots {
                display: flex;
                flex-direction: row;
                span {
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background: #dfdfdf;
                  margin-right: 1%;

                  &:nth-child(3) {
                    background: #ffb300;
                  }
                }
              }
            }
          }
          .rightfar {
            padding-bottom: 1%;
            padding-right: 1%;
            align-self: flex-end;
          }
        }
      }
    }
    footer {
      background: white;
      display: flex;
      flex-direction: column;

      .first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        padding: 60px 0;
        div {
          h2 {
            color: #02796f;
            font-family: "Gotham Medium";
            font-size: 15px;
            margin-bottom: 1%;
          }
          span {
            p {
              color: #151716;
              font-family: "Gotham Book";
              font-size: 15px;
            }
          }
        }
        div.section3 {
            
          width: 22%;
          display: none;
          flex-direction: column;

          .icons {
            margin-bottom: 10%;
            width: 100%;

            i {
              font-size: 20px;
              margin-right: 10%;
            }
          }
        }
      }
      .last {
        background: #d9d9d9;
        text-align: center;
        color: #000;
        font-family: "Gotham Book";
        font-size: 12px;
        padding: 10px 5px;

        a {
          color: #4186d9;
          text-decoration: none;
        }
      }
    }
  }
}

/* Tablet */
@media only screen and (min-width: 758px) and (max-width: 1199px) {
    *{
        display: none;
    }
  header {
    display: none;

  }
  main {
    display: none;
   
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1200px) {
  header {
    width: 100%;
    height: 70px;
    background: #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    .left {
      flex: 1;
      margin-left: 5%;
      text-align: left;
    }
    .right-mobile {
        display: none;
        margin-right: 5%;
      }
    .right {
      flex: 1;

      a {
        font-size: 14px;
        color: #151716;
        margin-right: 5%;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }

      .btnn {
        font-size: 15px;
        font-weight: bold;
        color: #151716;
        border: 1px solid #151716;
        border-radius: 15px;
        text-transform: uppercase;
        padding: 5px 10px;
        transition: background 200ms ease-in-out;

        &:hover {
          background: #151716;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  main {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: column;

    .banner {
      background: url(../../../assets/images/hero-image.png) no-repeat center
        bottom;
      height: 750px;
      z-index: 1000;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
        margin-top: 10%;

        span {
          &:first-child {
            font-family: "Gotham Black";
            color: white;
            font-size: 56px;
            margin-bottom: 1%;
          }
          &:nth-child(2) {
            font-family: "Gotham Book";
            color: white;
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 2.5%;
          }
        }
        button {
          background: #02796f;
          color: white;
          text-transform: uppercase;
          text-align: center;
          border: none;
          border-radius: 15px;
          padding: 13px 5px;
          width: 15%;
          font-family: "Gotham Book";
          font-weight: bold;
        }
      }
    }
    .banner2 {
      clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
      height: 930px;
      background: #f8f8f8;
      margin-top: -6%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 100;

      .bglayer {
        width: 100%;
        background: url("../../../assets/images/circle-artifacts.png") 240px
            150px no-repeat padding-box,
          url("../../../assets/images/ring-artifacts.png") 280px 290px no-repeat
            padding-box,
          url("../../../assets/images/swirle-libe.png") 1100px 300px no-repeat
            padding-box,
          url("../../../assets/images/Polygon\ 1.png") 560px 810px no-repeat
            padding-box;

        background-size: 58px 58px, 179px 179px, 300px 530px, 70px 70px;

        padding-top: 10%;
        height: 100vh;

        div.innerbanner2 {
          margin: auto;
          text-align: center;
          display: flex;
          flex-direction: column;

          p {
            &:first-child {
              font-family: "Gotham Black";
              font-size: 30px;
            }
            &:nth-child(2) {
              font-family: "Gotham Book";
              font-size: 13px;
              width: 40%;
              text-align: center;
              margin: auto;
              line-height: 1.5;
            }
          }

          .boxes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 60%;
            margin: 3% auto 0 auto;

            .box {
              width: 25%;
              height: 230px;
              background: #fff;
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 3% 2%;

              .first {
                font-family: "Gotham Bold";
                font-size: 20px;
                width: 100%;
                margin-top: 18px;
                margin-bottom: 5px;
              }
              .last {
                font-family: "Gotham Book";
                font-size: 13px;
                color: #727272;
              }
            }
          }
        }
      }
    }
    .banner3 {
      clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
      height: 1130px;
      background: #ffffff;
      margin-top: -9%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: 10;

      div.innerbanner3 {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
          &:first-child {
            font-family: "Gotham Black";
            font-size: 30px;
          }
          &:nth-child(2) {
            font-family: "Gotham Book";
            font-size: 13px;
            width: 40%;
            text-align: center;
            margin: auto;
            line-height: 1.5;
          }
        }

        .boxes {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 55%;
          margin: 3% auto 0 auto;

          .left-items {
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;
            align-items: center;

            .item {
              background: #f8f8f8;
              margin-bottom: 15px;
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              padding: 0 5%;
              width: 100%;

              span {
                &:first-child {
                  flex: 1;
                  padding-bottom: 5%;

                  p {
                    width: 100%;
                    text-align: right;

                    &:first-child {
                      font-family: "Gotham Medium";
                      font-size: 15px;
                    }
                    &:nth-child(2) {
                      font-family: "Gotham Book";
                      font-size: 12px;
                      color: #727272;
                    }
                  }
                }
                &:last-child {
                  padding: 5px;
                  background: #02796f;
                  border-radius: 50%;
                  width: 35px;
                  height: 35px;
                  display: flex;
                  align-items: center;
                  margin-top: 5%;
                  margin-left: 5%;
                }
              }
            }
          }
          .phone {
            width: 55%;
          }
          .right-items {
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 70%;
            align-items: center;

            .item {
              background: #f8f8f8;
              margin-bottom: 15px;
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              padding: 0 5%;
              width: 100%;

              span {
                &:last-child {
                  flex: 1;
                  padding-bottom: 5%;

                  p {
                    width: 100%;
                    text-align: left;

                    &:first-child {
                      font-family: "Gotham Medium";
                      font-size: 15px;
                    }
                    &:nth-child(2) {
                      font-family: "Gotham Book";
                      font-size: 12px;
                      color: #727272;
                    }
                  }
                }
                &:first-child {
                  padding: 5px;
                  background: #02796f;
                  border-radius: 50%;
                  width: 35px;
                  height: 35px;
                  display: flex;
                  align-items: center;
                  margin-top: 5%;
                  margin-right: 5%;
                }
              }
            }
          }
        }
      }
    }
    .banner4 {
      height: 730px;
      background: #f8f8f8;
      margin-top: -10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .innerbanner4 {
        width: 100%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;

        p {
          &:first-child {
            font-family: "Gotham Black";
            font-size: 30px;
          }
        }

        .box {
          width: 60%;
          margin: auto;
          background: #fff;
          // border: 1px solid black;
          display: flex;
          flex-direction: row;
          border-radius: 10px;
          .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 30%;

            span {
              height: 100%;
              background: #171717;
              width: 60%;
            }
            img {
              height: 80%;
              width: 100%;
              margin-left: -30%;
            }
          }
          .right {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 6%;

            .tag {
              width: 20%;
              font-size: 12px;
              background: #02796f;
              border-radius: 2px;
              font-family: "Gotham Book Italic";
              color: #fff;
              padding: 10px 1px;
              margin-top: 2%;
            }
            .story {
              width: 100%;
              text-align: left;
              p {
                &:first-child {
                  font-family: "Gotham Bold";
                  font-size: 22px;
                }
                &:nth-child(2) {
                  margin-top: -15px;
                  font-family: "Gotham Light";
                  font-size: 12px;
                  color: #161616;
                }
              }
            }
            .author {
              margin-top: -5%;
              width: 100%;
              text-align: left;
              p {
                &:first-child {
                  font-family: "Gotham Bold";
                  font-size: 20px;
                }
                &:nth-child(2) {
                  margin-top: -15px;
                  font-family: "Gotham Medium";
                  font-size: 12px;
                  font-style: oblique;
                  color: #02796f;
                }
              }
              .dots {
                display: flex;
                flex-direction: row;
                span {
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background: #dfdfdf;
                  margin-right: 1%;

                  &:nth-child(3) {
                    background: #ffb300;
                  }
                }
              }
            }
          }
          .rightfar {
            padding-bottom: 1%;
            padding-right: 1%;
            align-self: flex-end;
          }
        }
      }
    }
    footer {
      background: white;
      display: flex;
      flex-direction: column;

      .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        padding: 60px 0;
        div {
          h2 {
            color: #02796f;
            font-family: "Gotham Medium";
            font-size: 15px;
            margin-bottom: 20%;
          }
          span {
            p {
              color: #151716;
              font-family: "Gotham Book";
              font-size: 15px;
            }
          }
        }
        div.section3 {
          width: 22%;
          display: flex;
          flex-direction: column;

          .icons {
            margin-bottom: 10%;
            width: 100%;

            i {
              font-size: 20px;
              margin-right: 10%;
            }
          }
        }
      }
      .last {
        background: #d9d9d9;
        text-align: center;
        color: #000;
        font-family: "Gotham Book";
        font-size: 12px;
        padding: 10px 0;

        a {
          color: #4186d9;
          text-decoration: none;
        }
      }
    }
  }
}
